@import "../mixins";

.full-width-content {
	.breadcrumb {
		.gc-padding();
		margin: 0;
		.wrap {
			max-width: none;
		}
	}
	
	.nav-primary #mainnav {
		.gc-padding();
	}
	
	.menu-met-js {
		padding-left: 0;
	}
	
	.site-header > .wrap {
		.gc-padding();
	}
}
