.stepchart {
  @media only screen and ( min-width: ( @break_tablet )) {
    background: url('../images/stappenplan-bg-fullscreen.svg') top center no-repeat;
    background-size: 100% auto;
    height: 780px;
  }
}

.entry-content .stepchart__items {
  margin: 0;
  padding: 0;
}

.stepchart__item {
  .gc-box-shadow();
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: @gutter;
}

.stepchart__description {
  background: @wit;
  color: @gc_darkerblue;
  padding: 2rem;

  .cta {
    float: none;
  }
}

.stepchart__title {
  .font-size(32);
  font-family: @font-secondary;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  + .description {
    margin-top: 1rem;
  }
}


.btn--stepchart {
  .font-size(26);
  text-align: left;
  display: flex;
  background: @gc_a11y_green url('../images/icon-identificeer.svg') 14px center no-repeat;
  background-size: 30px auto;
  padding: 1rem 1rem 1rem 5.5rem;
  align-items: center;
  border: none;
  transition: background-color .2s;

  &:after {
    content: " ";
    display: block;
    margin-left: auto;
    width: 3rem;
    height: 3.4rem;
    background: url(../images/arrow-down.svg) center center no-repeat;
    border: .1rem solid transparent;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    background-color: @gc_a11y_green_dark_1;
    color: @wit;
    border: none;
    outline: none;

    &:after {
      background: transparent url(../images/arrow-down.svg) center center no-repeat;
      border-color: @wit;
    }
  }

  &.verdiep {
    background-image: url('../images/icon-verdiep.svg');
  }

  &.ontwerp {
    background-image: url('../images/icon-ontwerp.svg');
  }

  &.evalueer {
    background-image: url('../images/icon-evalueer.svg');
  }

  &.deel {
    background-image: url('../images/icon-deel.svg');
  }
}
